@model CingeWeb.Models.Zonas

@{
    ViewData["Title"] = "Details";
}

<h2>Detalle de Zonas</h2>

<div>
    <h4>Zonas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreZona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreZona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CódigoZona">Modificar</a> |
    <a asp-action="Index">Regresar</a>
</div>
