@page
@model CingeRazor.Pages.Zona.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Crear Zona</h2>

<h4>Zonas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Zonas.CódigoZona" class="control-label"></label>
                <input asp-for="Zonas.CódigoZona" class="form-control" maxlength="20"required />
                <span asp-validation-for="Zonas.CódigoZona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zonas.NombreZona" class="control-label"></label>
                <input asp-for="Zonas.NombreZona" class="form-control" maxlength="50"required/>
                <span asp-validation-for="Zonas.NombreZona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
