@page
@model CingeRazor.Pages.Zona.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3>Esta Seguro de Borrar Registro?</h3>
<div>
    <h4>Zonas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zonas.NombreZona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zonas.NombreZona)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Zonas.CódigoZona" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
