@page
@model CingeRazor.Pages.Cedula.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalle de la Cédula</h2>

<div>
    <h4>Cédulas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedulas.Cédula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedulas.Cédula)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cedulas.CódigoCédula">Modificar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
