@model CingeWeb.Models.Cedulas

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3>Esta Seguro de Borrar Registro?</h3>
<div>
    <h4>Cedulas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cédula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cédula)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CódigoCédula" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
