@page
@model CingeRazor.Pages.Factura.CreateModel
<script src="~/lib/jquery-3.3.1.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" />


@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#codigoProducto").blur(function () {
            $.ajax({
                type: "GET",
                url: "/Inventarios/Articulo/SeleccionarArticulo",
                data: { idProducto: $(this).val() },
                contentType: "application/json",
                dataType: "json",
                success: function (mensaje) {
                    console.log(mensaje);
                    $.each(mensaje, function (i, item) {
                        console.log(i);
                        console.log(item);
                        switch (i) { 
                            case "nombre":
                                $("#nombreproducto").val(item);
                                if ($("#nombreproducto").val() == "") {
                                    alert("El producto no existe");
                                    $("#nombreproducto").prop("disabled", true);
                                    $("#precio").prop("disabled", true);
                                    document.getElementById('agregar').disabled = true;
                                    document.getElementById('cantidad').disabled = true;
                                    document.getElementById('precio').disabled = true;
                                    document.getElementById('descuento').disabled = true;
                                }
                                else {
                                    $("#nombreproducto").prop("disabled", false);
                                    $("#precio").prop("disabled", false);
                                    document.getElementById('agregar').disabled = false;
                                    document.getElementById('cantidad').disabled = false;
                                    document.getElementById('precio').disabled = false;
                                    document.getElementById('descuento').disabled = false;
                                }
                                break;
                            case "precioVenta":
                                $("#precio").val(item);
                                break;
                            case "pagaImpuesto":
                                $("#paga").prop('checked', item);
                                console.log($("#paga").prop('checked'));
                                break;
                        }
                       
                    });
                }
            });
        });

        $(document).ready(function () {
            $("#codigoCliente").blur(function () { 
                $.ajax({
                    type: "GET",
                    url: "/Clientes/Cliente/SeleccionarCliente",
                    data: { idCliente: $(this).val() },
                    contentType: "application/json",
                    dataType: "json",
                    success: function (mensaje) {
                        console.log(mensaje);
                        $.each(mensaje, function (i, item) {
                            console.log(i);
                            console.log(item);
                            switch (i) {
                                case "nombre":
                                    $("#nombreCliente").val(item);

                                    if ($("#nombreCliente").val() == "") {
                                        alert("El cliente no existe");
                                        $("#cédulaCliente").prop("disabled",true);
                                        $("#emailCliente").prop("disabled", true);
                                        $("#teléfonoCliente").prop("disabled", true);
                                        $("#direcciónCliente").prop("disabled", true);
                                        $("#tipoIdCliente").prop("disabled", true);
                                        $("#nombreMascota").prop("disabled", true);
                                        document.getElementById('agregar').disabled = true;
                                        document.getElementById('guardar').disabled = true;
                                    } 
                                        else {
                                        $("#cédulaCliente").prop("disabled", false);
                                        $("#emailCliente").prop("disabled", false);
                                        $("#teléfonoCliente").prop("disabled", false);
                                        $("#direcciónCliente").prop("disabled", false);
                                        $("#tipoIdCliente").prop("disabled", false);
                                        $("#nombreMascota").prop("disabled", false);                                                                                          
                                        document.getElementById('agregar').disabled = false;
                                        document.getElementById('guardar').disabled = false;
                                    }
                                    break;
                                case "cédula":
                                    $("#cédulaCliente").val(item);
                                    break;
                                case "email":
                                    $("#emailCliente").val(item);
                                    break;
                                case "teléfono":
                                    $("#teléfonoCliente").val(item);
                                    break;
                                case "dirección":
                                    $("#direcciónCliente").val(item);
                                    break;
                                case "códigoCédula":
                                    $("#tipoIdCliente").val(item);
                                    break;
                                case "nombreMascota":
                                    $("#nombreMascota").empty();
                                    $.each(item, function (j, mascota) {
                                        console.log(mascota);
                                        cadena = "<option>";
                                        cadena += mascota;
                                        cadena += "</option >";
                                        $("#nombreMascota").append(cadena);

                                    });
                                    break;
                            }
                            
                        });
                    }
                });
          });
        });
    
        $(document).ready(function () {
            $("#codigoMascota").change(function () {
                $.ajax({
                    type: "GET",
                    url: "/Clientes/Mascota/ListaMascota",
                    data: { idMascota: $(this).val() },
                    contentType: "application/json",
                    dataType: "json",
                    success: function (mensaje) {
                        console.log(mensaje);
                        $.each(mensaje, function (i, item) {
                            console.log(i);
                            console.log(item);
                            switch (i) {
                                case "nombre":
                                    $("#nombreMascota").val(item);
                                    $("#detalle tbody").append(cadena);
                                    break;
                               
                            }
                            
                        });
                    }
                });
            });
        });

        $("a[rel='pop-up']").click(function () {
            var caracteristicas = "height=550 ,width=1000, scrollTo, resizable=1, scrollbars=1, location=0";
            nueva = window.open(this.href, 'popup', caracteristicas);
            return false;
        });

        $("#finalizar").click(function () {
           
            var i = 0;
            var envio = "{Fecha:'" + $("#id_fecha").val() + "',ModoPago:'" + $("#modoPago").val() + "',IdCliente:'" + $("#codigoCliente").val() + "',IdCabecera:'2',Total:'" + $('#TotalaPagar').val() + "',";
            $("#detalle tbody tr").each(function (index) {
                if (i == 0) {
                    envio += "ListadoDetalle:[{IdProducto:'" + $(this).find('td').eq(0).text() +
                        "',Cantidad:'" + $(this).find('td').eq(2).text() +
                        "',Descuento:'" + $(this).find('td').eq(5).text() +
                        "',SubTotal:'" + $(this).find('td').eq(4).text() + "'}";
                } else {
                    envio += ",{IdProducto:'" + $(this).find('td').eq(0).text() +
                        "',Cantidad:'" + $(this).find('td').eq(2).text() +
                        "',Descuento:'" + $(this).find('td').eq(5).text() +
                        "',SubTotal:'" + $(this).find('td').eq(4).text() + "'}"

                }
                i = 1;
            });
            envio += "]}";

            var json = eval("(" + envio + ')');
        });

    });
    var total = 0;
    var valor = 0;
    var subtotal = 0;
    function obtenerCliente(Cliente) {
        $("#codigoCliente").val(Cliente.Codigo).trigger('blur');
    }
    function obtenerProducto(Articulo) {
        $("#codigoProducto").val(Articulo.Codigo).trigger('blur');
       
    }
    function fn_agregar() {
        cadena = "<tr>"
        cadena = cadena + "<td>" + $("#nombreMascota").val() + "</td>";
        cadena = cadena + "<td>" + $("#codigoProducto").val() + "</td>";
        cadena = cadena + "<td>" + $("#nombreproducto").val() + "</td>";
        cadena = cadena + "<td>" + $("#cantidad").val() + "</td>";
        cadena = cadena + "<td>" + $("#precio").val() + "</td>";
        var y = 0;
        var x = 0;
        var descuento = 0;
        var totallinea = 0;
        y = $("#cantidad").val();
        x = $("#precio").val();
        subtotal = (x * y).toFixed(5);
        descuento = ($("#precio").val() * ($("#descuento").val() / 100)).toFixed(5);
        if ($("#paga").prop('checked')) {
            impuesto = (subtotal * 0.13).toFixed(5);
           
        } else {
            impuesto = 0;
        }
        totallinea = (parseFloat(subtotal) - parseFloat(descuento) + parseFloat(impuesto)).toFixed(5);               
        cadena = cadena + "<td>" + subtotal + "</td>"
        cadena = cadena + "<td>" + descuento + "</td>";
        cadena = cadena + "<td>" + impuesto + "</td>";
        cadena = cadena + "<td>" + totallinea + "</td>";
        cadena = cadena + "<td><a class ='elimina'><button class='btn btn-danger' type='button'><span class='fa fa-remove'></span>Eliminar</button></a></td>";
        $("#detalle tbody").append(cadena);
        calcularTotales();
        fn_dar_eliminar();
        limpiar();
    };

    function limpiar() {
        $("#codigoProducto").val("");
        $("#nombreproducto").val("");
        $("#precio").val("");
        $("#cantidad").val("1");
        $("#descuento").val("0");
    }

    function limpiarCliente() {
        $("tbody tr #txtnombre").val('');
        $("tbody tr #idCliente").val('');
        $("tbody tr #codigoCliente").val('');
    }

    function limpiarDetalle() {
        $("#detalle tbody tr").val("");
    }

    function calcularTotales() {
        var precioTotal, descuentoTotal, impuestoTotal, totalFinal;
        var precio, descuento, impuesto, totalLinea;
        precioTotal = 0;
        descuentoTotal = 0;
        impuestoTotal = 0;
        totalFinal = 0;
        var columnNames = [];
                $('#detalle').find('th').each(function () {
            columnNames.push($(this).text().trim());
        });

        $("#detalle tbody tr").each(function (index) {
                      
            precio = parseFloat($(this).find('td').eq(columnNames.indexOf("PrecioTotal")).text());
            precioTotal = precioTotal + precio;
            descuento = parseFloat($(this).find('td').eq(columnNames.indexOf("Descuento")).text());
            descuentoTotal = descuentoTotal + descuento;
            impuesto = parseFloat($(this).find('td').eq(columnNames.indexOf("Impuesto")).text());
            impuestoTotal = impuestoTotal + impuesto;
            totalLinea = precio - descuento + impuesto;
            totalFinal = totalFinal + totalLinea;
        });
        $("#TotalaPagar").val(totalFinal);
        $("#SubTotal").val(precioTotal);
        $("#DescuentoTotal").val(descuentoTotal);
        $("#ImpuestoTotal").val(impuestoTotal);
        $("#TotalFinal").val(totalFinal);
    }

    function fn_dar_eliminar() {
        $("a.elimina").click(function () {
            valor = $(this).parents("tr").find("td").eq(5).html();

            $(this).parents("tr").fadeOut("normal", function () {
                $(this).remove();
                calcularTotales();
            });
        });
    };

    function filterFloat(evt, input) {
        var key = window.Event ? evt.which : evt.keyCode;
        var chark = String.fromCharCode(key);
        var tempValue = input.value + chark;
        if (key >= 48 && key <= 57) {
            if (filter(tempValue) === false) {
                return false;
            } else {
                return true;
            }
        } else {
            if (key == 8 || key == 13 || key == 0) {
                return true;
            } else if (key == 46) {
                if (filter(tempValue) === false) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return false;
            }
        }
    }

    function filter(__val__) {
        var preg = /^([0-9]+\.?[0-9]{0,1})$/;
        if (preg.test(__val__) === true) {
            return true;
        } else {
            return false;
        }

    }
   </script>

<h3>Facturación</h3>

<hr />
<div class="row">
    <div class="form-inline">

        <table id="encabezado" class="table">
            <tr style="font-size:15px;">

                <th>
                    <label asp-for="InventFactura.Consecutivo" class="control-label"></label>
                    <input asp-for="InventFactura.Consecutivo" class="form-control" />
                </th>
                <th>
                    <label asp-for="InventFactura.Fecha" class="control-label"></label>
                    <input asp-for="InventFactura.Fecha" type="datetime" class="form-control" value="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day" readonly />
                </th>

                <th>
                    <label asp-for="InventFactura.Cliente" class="control-label"></label>
                    <input asp-for="InventFactura.Cliente" class="form-control" id="codigoCliente">
                </th>
                <td>
                    <a href="~/Factura/ObtenerCliente" rel="pop-up" target="_blank">
                        <input class="btn btn-warning btn-lg col-md-12" type="button" name="enlace_cliente" value="Obtener Clientes" />
                    </a>
                </td>
        </table>
        <table id="encabezado" class="table">
            <tr style="font-size:15px;">

                <th>
                    <label asp-for="InventFactura.Nombre" class="control-label"></label>
                    <input asp-for="InventFactura.Nombre" class="form-control" name="nombreCliente" id="nombreCliente" />
                    <span asp-validation-for="InventFactura.Nombre" class="text-danger"></span>
                </th>
                <th>
                    <label asp-for="InventFactura.TipoIdentificacion" class="control-label"></label>
                    <select asp-for="InventFactura.TipoIdentificacion" class="form-control" id="tipoIdCliente" asp-items="ViewBag.TipoIdentificacion"></select>
                </th>
                <th>
                    <label asp-for="InventFactura.Identificacion" class="control-label"></label>
                    <input asp-for="InventFactura.Identificacion" class="form-control" id="cédulaCliente" />
                    <span asp-validation-for="InventFactura.Identificacion" class="text-danger"></span>
                </th>
                <th>
                    <label asp-for="InventFactura.Email" class="control-label"></label>
                    <input asp-for="InventFactura.Email" class="form-control" id="emailCliente" />
                    <span asp-validation-for="InventFactura.Email" class="text-danger"></span>
                </th>
        </table>
        <table id="encabezado" class="table">
            <tr style="font-size:15px;">

                <th>
                    <label asp-for="InventFactura.Telefono" class="control-label"></label>
                    <input asp-for="InventFactura.Telefono" class="form-control" id="teléfonoCliente" />
                    <span asp-validation-for="InventFactura.Telefono" class="text-danger"></span>
                <th>
                <th>
                    <label asp-for="InventFactura.Direccion" class="control-label"></label>
                    <input asp-for="InventFactura.Direccion" class="form-control" id="direcciónCliente" />
                    <span asp-validation-for="InventFactura.Direccion" class="text-danger"></span>
                </th>
                <th>
                    <label asp-for="InventFactura.FormaPago" class="control-label"></label>
                    <select asp-for="InventFactura.FormaPago" class="form-control">
                        <option>Efectivo</option>
                        <option>Tarjeta</option>
                        <option>Transferencia</option>
                    </select>
                </th>
                <td>

                <td>
                    <a href="~/Factura/ObtenerProductos" rel="pop-up" target="_blank">
                        <input class="btn btn-warning btn-lg col-md-12" type="button" name="enlace_producto" value="Obtener Productos" />
                    </a>
                </td>
            </tr>
        </table>

        <h3>Detalle Facturación </h3>
        <form action="javascript:fn_agregar()" ; method="post" id="frm_usu" class="form-horizontal">
            <table class="table">
                <tr style="font-size:15px;">

                    <td>Artículo<input style="font-size:12px; font-weight:700;" type="text" id="codigoProducto" class="form-control" required /></td>
                    <td>Nombre<input style="font-size:12px; font-weight:700;" class="form-control" type="text" id="nombreproducto" required /></td>
                    <td>Cantidad <input style="font-size:12px; font-weight:700;" class="form-control" type="text" id="cantidad" value="1" onkeypress="return filterFloat(event,this);" required /></td>
                    <td>PrecioUnitario <input style="font-size:10px; font-weight:700;" class="form-control" type="text" id="precio" onkeypress="return filterFloat(event,this);" required /></td>
                    <td>Descuento <input style="font-size:12px; font-weight:700;" class="form-control" type="text" id="descuento" value="0" min="0" onkeypress="return filterFloat(event,this);" required /></td>

                    <td>Mascota<select class="form-control" id="nombreMascota" required></select></td>
                    <td>P.Imp <input style="font-size:12px; font-weight:700;" class="form-control" type="checkbox" id="paga" disabled /></td>
                    <td colspan="2"><input class="form-control" type="submit" name="agregar" id="agregar" value="Agregar" /></td>
                </tr>
            </table>
        </form>
        <table id="detalle" class="lista table" border="0">
            <thead style="font-size:12px;">
                <tr class="bg-success"></tr>
                <tr class="bg-success">
                    <th width="5%">Mascota </th>
                    <th width="5%">Artículo </th>
                    <th width="20%">Nombre</th>
                    <th width="5%">Cantidad</th>
                    <th width="9%">PrecioUnitario</th>
                    <th width="9%">PrecioTotal</th>
                    <th width="9%">Descuento</th>
                    <th width="9%">Impuesto</th>
                    <th width="9%">TotalLinea</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>

        <table id="encabezado" class="table">
            <tr style="font-size:15px;">
                <th>
                    <label asp-for="InventFactura.Subtotal" class="control-label"></label>
                    <input asp-for="InventFactura.Subtotal" class="form-control" id="SubTotal" readonly />
                    <span asp-validation-for="InventFactura.Subtotal" class="text-danger"></span>
                <th>
                <th>

                    <label asp-for="InventFactura.Descuento" class="control-label"></label>
                    <input asp-for="InventFactura.Descuento" class="form-control" id="DescuentoTotal" readonly />
                    <span asp-validation-for="InventFactura.Descuento" class="text-danger"></span>
                <th>
                <th>

                    <label asp-for="InventFactura.Impuesto" class="control-label"></label>
                    <input asp-for="InventFactura.Impuesto" class="form-control" id="ImpuestoTotal" readonly />
                    <span asp-validation-for="InventFactura.Impuesto" class="text-danger"></span>
                <th>
                <th>

                    <label asp-for="InventFactura.Total" class="control-label"></label>
                    <input asp-for="InventFactura.Total" class="form-control" id="TotalFinal" readonly />
                    <span asp-validation-for="InventFactura.Total" class="text-danger"></span>
                <th>

        </table>
        <input class="btn btn-warning" id="guardar" type="button" value="Guardar" />

    </div>
           
          
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
