@model CingeWeb.Models.Compañia

@{
    ViewData["Title"] = "Create";
}

<h2>Nuevo Registro</h2>

<h4>Compañia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCompañia" class="control-label"></label>
                <input asp-for="IdCompañia" class="form-control" input maxlength="4" />
                <span asp-validation-for="IdCompañia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompañia" class="control-label"></label>
                <input asp-for="NombreCompañia" class="form-control" input maxlength="50" />
                <span asp-validation-for="NombreCompañia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" type="number" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" type="number" />

                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartadoPostal" class="control-label"></label>
                <input asp-for="ApartadoPostal" class="form-control" input maxlength="50" />
                <span asp-validation-for="ApartadoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CedulaJuridica" class="control-label"></label>
                <input asp-for="CedulaJuridica" class="form-control" input maxlength="50" />
                <span asp-validation-for="CedulaJuridica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaginaWeb" class="control-label"></label>
                <input asp-for="PaginaWeb" class="form-control" />
                <span asp-validation-for="PaginaWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturaElectronica" class="control-label"></label>
                <input asp-for="FacturaElectronica" class="form-control" />
                <span asp-validation-for="FacturaElectronica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionLogo" class="control-label"></label>
                <input asp-for="DireccionLogo" class="form-control" type="file" enclyte"multipart/form-data" required />
                 <span asp-validation-for="DireccionLogo" class="text-danger"></span>

            </div>
                        <div class="form-group">
                <input type="submit" value="Guadar" class="btn btn-default" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
