@page
@model CingeRazor.Pages.Inventarios.Articulo.SeleccionarArticuloModel
@{
    ViewData["Title"] = "SeleccionarArticulo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>SeleccionarArticulo</h2>

