@page "/Clientes/Mascota/Edit"
@model CingeRazor.Pages.Mascota.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Modificar</h2>

<h4>Mascotas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mascotas.CódigoMascota" />*@
            <input type="hidden" asp-for="Mascotas.Código" />
            <div class="form-group">
                <label asp-for="Mascotas.Nombre" class="control-label"></label>
                <input asp-for="Mascotas.Nombre" class="form-control" />
                <span asp-validation-for="Mascotas.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mascotas.Peso" class="control-label"></label>
                <input asp-for="Mascotas.Peso" class="form-control" />
                <span asp-validation-for="Mascotas.Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mascotas.Sexo" class="control-label"></label>
                <input asp-for="Mascotas.Sexo" class="form-control" />
                <span asp-validation-for="Mascotas.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mascotas.Edad" class="control-label"></label>
                <input asp-for="Mascotas.Edad" class="form-control" />
                <span asp-validation-for="Mascotas.Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mascotas.Especie" class="control-label"></label>
                @*<select asp-for="Mascotas.Especie" class="form-control">
                        <option>Perro</option>
                        <option>Gato</option>
                        <option>Conejo</option>
                        <option>Otros</option>
                        <option contenteditable="true">Gato</option>
                    </select>*@
                <input asp-for="Mascotas.Especie" list="Mascotas.Especie" class="form-control" />
                <datalist id="Mascotas.Especie">
                    <option value="Perro">Perro</option>
                    <option value="Gato">Gato</option>
                    <option value="Otros">Otros</option>
                </datalist>
            </div>
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Clientes/Cliente/Index" asp-route-id="@Model.Mascotas.Código">Regresar</a>
    @* <a asp-page="Index">Regresar</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
